<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_type %>
    <%= form.select(:service_type, options_for_select(["SUNDAY", "THURSDAY", "YOUTH-SERVICE", "WOMENS-FELLOWSHIP", "MENS-FELLOWSHIP", "CELL-MEETING", "OTHER", "REVIVAL"])) %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= collection_select(:service, :leader_id, Leader.all.includes(:department), :id, :department_leader, {}) %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :male_attendance %>
    <%= form.number_field :male_attendance %>
  </div>

  <div class="field">
    <%= form.label :female_attendance %>
    <%= form.number_field :female_attendance %>
  </div>

  <div class="field">
    <%= form.label :number_of_new_comers %>
    <%= form.number_field :number_of_new_comers %>
  </div>

  <div class="field">
    <%= form.label :offertory_amount %>
    <%= form.number_field :offertory_amount %>
  </div>

  <div class="field">
    <%= form.label :tithe_amount %>
    <%= form.number_field :tithe_amount %>
  </div>

  <div class="field">
    <%= form.label :starting_time %>
    <%= form.datetime_select :starting_time %>
  </div>

  <div class="field">
    <%= form.label :closing_time %>
    <%= form.datetime_select :closing_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
