<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= service.service_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= service.date %>
</p>

<p>
  <strong>Male attendance:</strong>
  <%= service.male_attendance %>
</p>

<p>
  <strong>Female attendance:</strong>
  <%= service.female_attendance %>
</p>

<p>
  <strong>Number of new comers:</strong>
  <%= service.number_of_new_comers %>
</p>

<p>
  <strong>Offertory amount:</strong>
  <%= service.offertory_amount %>
</p>

<p>
  <strong>Tithe amount:</strong>
  <%= service.tithe_amount %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= service.starting_time %>
</p>

<p>
  <strong>Closing time:</strong>
  <%= service.closing_time %>
</p>

