

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Services</h1>


<%= link_to 'Add A New Service', new_service_path, class: "btn btn-outline-primary" %>
<br><br>

<table class="table table-stripped" id="list-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Attendance</th>
      <th>Freshers</th>
      <th>Starting time</th>
      <th>Closing time</th>
      <th>Line Up</th>

      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    <% @services.includes(:lineup).each do |service| %>
      <tr>
        <td><%= service.service_type %></td>
        <td><%= service.date %></td>
        <td><%= service.male_attendance.to_i + service.female_attendance.to_i %></td>
        <td><%= service.number_of_new_comers %></td>
        <td><%= service.starting_time.to_s.split(" ")[1] %></td>
        <td><%= service.closing_time.to_s.split(" ")[1]  %></td>
        <td>
          MC: <%= service.line_up_count[:mc] %>  <%= link_to 'Edit MC', edit_lineup_path(service.lineup), class: "btn btn-sm btn-outline-info" %><br><br>
          Activities: <%= service.line_up_count[:size] %> <%= link_to 'View Activities', lineup_path(service.lineup), class: "btn btn-sm btn-outline-info" %><br><br>
          <%= link_to 'Add Activities', new_programme_path(:lineup => service.lineup ), class: "btn btn-outline-success" %><br><br>
        </td>

        <td><%= link_to 'Show', service, class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_service_path(service), class: "btn btn-outline-success" %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<% content_for :page_scripts do %>
  <script>

    function readyy(){
       $("#list-table").DataTable({
        dom: 'Bfrtip',
        pageLength: 5,
       })
    }

    $(document).ready(readyy)
    $(document).on('page:load', readyy)
   
  </script>

<% end %>

</div>



