

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Services</h1>

  <!-- Modal -->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add A New Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>




 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDepartmentModal">
  Add New Service
</button>
<br><br>

<table class="table table-stripped" id="list-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Attendance</th>
      <th>Freshers</th>
      <th>Starting time</th>
      <th>Closing time</th>
      <th>Line Up</th>
      <th>Show</th>
      <th>Edit Service</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @services.includes(:lineup).each do |service| %>
      <tr>
        <td><%= service.service_type %></td>
        <td><%= service.date %></td>
        <td><%= service.male_attendance.to_i + service.female_attendance.to_i %></td>
        <td><%= service.number_of_new_comers || 0 %></td>
        <td><%= service.starting_time.to_s.split(" ")[1] %></td>
        <td><%= service.closing_time.to_s.split(" ")[1]  %></td>
        <td>
          MC: <%= service.line_up_count[:mc] %> 

           <div class="modal fade" id="edit_lineup_<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Activity (<%= service.id %>)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <%= form_with(model: service.lineup) do |form| %>
                    <% if service.lineup.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(service.lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>
                        <ul>
                          <% service.lineup.errors.each do |error| %>
                            <li><%= error.full_message %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="field">
                      <%= form.label :name_of_mc %>
                      <%= form.text_field :mc, class: "form-control" %>
                    </div>

                    <div class="actions">
                      <%= form.submit "Update MC", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-sm  btn-outline-secondary" data-toggle="modal" data-target="#edit_lineup_<%=service.id%>">
            Edit MC
          </button>

          
          <br><br>
          Activities: <%= service.line_up_count[:size] %> 

          <div class="modal fade" id="add_leader_<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Activity (<%= service.id %>)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <%= form_with(model: @programme) do |form| %>
                    <% if @programme.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

                        <ul>
                          <% @programme.errors.each do |error| %>
                            <li><%= error.full_message %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="field invisible">
                      <%= collection_select(:programme, :lineup_id, Lineup.all.includes(:service), :id, :type_with_date, { selected: service.lineup.id}) %>
                    </div>

                    <div class="field">
                      <%= form.label :name %>
                      <%= form.text_field :name, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :facilitator %>
                      <%= form.text_field :facilitator, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :time_allocation_in_minutes %>
                      <%= form.text_field :time_allocation_in_minutes, class: "form-control" %>
                    </div>

                    <div class="actions">
                      <%= form.submit "Submit", class: "btn btn-primary" %>
                    </div>
                  <% end %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-sm  btn-outline-success" data-toggle="modal" data-target="#add_leader_<%=service.id%>">
            Add
          </button>
        

        </td>

        <td>
          <div class="modal fade" id="show_<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Service (<%= service.id %>)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <%= render partial: 'showtwo', :locals => {service: service}  %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#show_<%=service.id%>">
            View
          </button>
        </td>

        <td>
          <div class="modal fade" id="edit_<%=service.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Service (<%= service.id %>)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <%= render 'form_edit', service: service %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_<%=service.id%>">
            Edit
          </button>
        </td>

        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<% content_for :page_scripts do %>
  <script>

    function readyy(){

       $("#list-table").DataTable({
        dom: 'Bfrtip',
        pageLength: 50,
       })

    }
    $(document).ready(readyy)
    $(document).on('page:load', readyy)
   
  </script>

<% end %>

</div>



