<%= form_with(model: programme) do |form| %>
  <% if programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
        <% programme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lineup_id_id %>
    <%= collection_select(:programme, :lineup_id, Lineup.all.order(:id), :id, :service_id, {}) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :facilitator %>
    <%= form.text_field :facilitator %>
  </div>

  <div class="field">
    <%= form.label :time_allocation_in_minutes %>
    <%= form.text_field :time_allocation_in_minutes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
