<p id="notice"><%= notice %></p>

<h1>Programmes</h1>

<table>
  <thead>
    <tr>
      <th>LineupId</th>
      <th>ServiceId</th>
      <th>Programme</th>
      <th>Facilitator</th>
      <th>Time Allocated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.includes(:lineup).each do |programme| %>
      <tr>
        <td><%= programme.lineup.id %></td>
        <td><%= programme.lineup.service_id %></td>
        <td><%= programme.name %></td>
        <td><%= programme.facilitator %></td>
        <td><%= programme.time_allocation_in_minutes %></td>
        <td><%= link_to 'Show', programme %></td>
        <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
        <td><%= link_to 'Destroy', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programme', new_programme_path %>
