<p id="notice"><%= notice %></p>

<p>
  <strong>Lineup Id:</strong>
  <%= @programme.lineup.service_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @programme.name %>
</p>

<p>
  <strong>Facilitator:</strong>
  <%= @programme.facilitator %>
</p>

<p>
  <strong>Time allocation in minutes:</strong>
  <%= @programme.time_allocation_in_minutes %>
</p>

<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
