<%= form_with(model: member) do |form| %>
 <div class="container">

  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

  <div class="row">

    <div class="col-sm">

      <div class="form-group">
        <%= form.label :full_name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Eg. Emmanuel Appiah Koomson" %>
      </div>

    </div>

  </div>



  <div class="row">

    <div class="col-sm">

        <div class="form-group">
          <%= form.label :birthday %><br />
          <%= form.date_select :birthday,  start_year: Date.today.year - 80,  end_year: Date.today.year, class: "form-control" %>
        </div>

    </div>

  </div>


  <div class="row">

    <div class="col-sm">
        <div class="form-group">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, placeholder: "Eg. 0243983364", class: "form-control" %>
        </div>
    </div>

    <div class="col-sm">
       <div class="form-group">
          <%= form.label :whatsapp_number %>
          <%= form.text_field :phone_number_two, placeholder: "Eg. 0243983364", class: "form-control" %>
        </div>
    </div>

  </div>


  <div class="row">

    <div class="col-sm">  

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Eg. agba@gmail.com", class: "form-control" %>
      </div>

    </div>

  </div>


  <div class="row">
   
    <div class="col-sm">   
      <div class="form-group">
        <%= form.label :year_joined %>
        <%= form.text_field :year_joined, placeholder: "Eg. 2016", class: "form-control" %>
      </div>
    </div>

       
    <div class="col-sm">
       <div class="form-group">
        <%= form.label :occupation %>
        <%= form.text_field :occupation,  placeholder: "Eg. Trader", class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="invisible">

    <div class="row">
      <div class="col-sm">
          <div class="form-group">
            <%= form.check_box :primary_education, class: "form-control, form-check-label"%>
            <%= form.label :JHS_LEVEL , class: "control-label"%>
          </div>
      </div>
      <div class="col-sm">
          <div class="form-group">
            <%= form.check_box :secondary_education, class: "form-control, form-check-label" %>
            <%= form.label :SHS_LEVEL %>
          </div>
      </div>
      <div class="col-sm"> 
        <div class="form-group">
          <%= form.check_box :above_secondary, class: "form-control, form-check-label" %>
          <%= form.label :TETIARY_LEVEL %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm">   
        <div class="form-group">
          <%= form.label :twitter_name %>
          <%= form.text_field :twitter_name, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <%= form.label :facebook_name %>
          <%= form.text_field :facebook_name, class: "form-control" %>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <%= form.label :phone_number_2 %>
          <%= form.text_field :phone_number_three, class: "form-control" %>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <%= form.label :phone_number_3 %>
          <%= form.text_field :phone_number_four, class: "form-control" %>
        </div>
      </div>


    
      <div class="col-sm">
          <div class="form-group">
            <%= form.label :telegram_number %>
            <%= form.text_field :telegram_number, class: "form-control" %>
          </div>
      </div>

    </div>

    <div>
        <div class="form-group">
        <%= form.label :membership_type %>
        <%= form.select(:membership_type, options_for_select(["FULL_MEMBER", "NEW_SOUL", "VISITOR"]))%>
      </div>
    </div>

  </div>

<div class="invisible">
    <div class="form-group">
        <%= form.label :url_creation %>
        <%= form.text_field :url_creation, value: "NEW_MEMBER_QR" %>
    </div>
</div>


  <div class="row">
    <div class="col-sm">
        <div class="actions">
          <%= form.submit "SUBMIT", class: "btn btn-primary btn-lg"%>
        </div>
    </div>
  </div>
</div>


<% end %>
