<%= form_with(model: department) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
    </div>
    <div class="col-sm">
        <div class="field">
          <%= form.label :meeting_days %>
          <%= form.text_field :meeting_days, class: "form-control" %>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
       <div class="field">
        <%= form.label :vision %>
        <%= form.text_area :vision, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm">
      <div class="field">
        <%= form.label :motto %>
        <%= form.text_field :motto, class: "form-control" %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="actions">
          <%= form.submit "SUBMIT", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
  </div>
</div>


<% end %>
