<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Meeting days:</strong>
  <%= @department.meeting_days %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @department.vision %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @department.motto %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
