<p id="notice"><%= notice %></p>


<div class="container" >

    <div class="row">
        <div class="col-md-12 text-center">
            <span class="text-uppercase" style="color: #9b5de5">PROGRAMME LINE UP </span>
            <h2 class="text-capitalize font-weight-bold"><%= @lineup.service.service_type %> SERVICE [<%= @lineup.service.date %>]</h2>
            <h4 class="text-capitalize font-weight-bold">MC: <%= @lineup.mc  %></h4>
        </div>

      <div class="col-md-2">
      </div>

      <div class="col-md-8">

            <div class="bg-light px-4 py-5 my-lg-5 my-md-2 my-sm-2">

                <div class="d-flex justify-content-between align-items-center mx-auto">
                    <div>
                      <h2 class="font-weight-bold" style="margin-top: -30px;"><%= get_time_from_date(@lineup.service.starting_time)%> - <%= get_time_from_date(@lineup.service.closing_time)%></h2>
                    </div>
                    <p class="text-center">
                        <svg width="25px" class="mb-1" fill="#9b5de5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 321.883 321.883" style="enable-background:new 0 0 321.883 321.883;" xml:space="preserve">
                            <path d="M160.941,0c-69.035,0-125,55.964-125,125.001c0,69.035,85.187,196.882,125,196.882c39.813,0,125-127.847,125-196.882
                              C285.941,55.964,229.977,0,160.941,0z M160.941,182.294c-36.341,0-65.801-29.46-65.801-65.802c0-36.34,29.46-65.801,65.801-65.801
                              c36.341,0,65.801,29.461,65.801,65.801C226.742,152.834,197.282,182.294,160.941,182.294z"/></svg>
                        <small class="d-block font-weight-normal">Church Premisses</small>
                    </p>
                </div>

                <%@lineup.programme.each do |prog| %>
                    <div class="my-2">
                      <div class="d-flex align-items-center">
                          <small class="ml-1 text-secondary">
                            <h6> 
                          <svg xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" height="25" viewBox="0 0 42 42" width="25" xmlns="http://www.w3.org/2000/svg" class="jsx-2550840333 absolute transform -translate-y-6 -translate-x-6 pointer-events-none text-purple-600"><circle cx="20.5" cy="20.5" fill="#FFFFFF" r="18.5" class="jsx-2550840333"></circle><path d="m21 0c-11.592 0-21 9.408-21 21s9.408 21 21 21 21-9.408 21-21-9.408-21-21-21zm-4.2 31.5-10.5-10.5 2.961-2.961 7.539 7.518 15.939-15.939 2.961 2.982z" fill="#7C3AED" class="jsx-2550840333"></path></svg>

                            <strong><%= prog.name %></strong>
                          </h6>
                          </small>
                    </div>
                      <p class="text-secondary" style="line-height: 2;">
                      Facilitator: <strong><%=prog.facilitator %></strong><br>
                      Time Allocated: <strong><%=prog.time_allocation_in_minutes %></strong><br>
                      </p>
                  </div>
                <% end %>

            </div>

      </div>

      <div class="col-md-2">
      </div>


    </div>

</div>
