<%= form_with(model: outreach_report) do |form| %>
  <% if outreach_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outreach_report.errors.count, "error") %> prohibited this outreach_report from being saved:</h2>

      <ul>
        <% outreach_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :leader_id %>
    <%= collection_select(:outreach_report, :leader_id, Leader.all, :id, :id, { selected: params[:leader]}) %>
  </div>

  <div class="form-group">
    <%= form.label :period_start %><br />
    <%= form.date_select :period_start,  start_year: Date.today.year,  end_year: Date.today.year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :period_end %><br />
    <%= form.date_select :period_end,  start_year: Date.today.year,  end_year: Date.today.year, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :number_of_people_visited %>
    <%= form.text_field :number_of_people_visited %>
  </div>

  <div class="field">
    <%= form.label :number_of_people_preached_to %>
    <%= form.text_field :number_of_people_preached_to %>
  </div>

  <div class="field">
    <%= form.label :number_of_people_prayed_for %>
    <%= form.text_field :number_of_people_prayed_for %>
  </div>

  <div class="field">
    <%= form.label :number_of_days_fasted %>
    <%= form.text_field :number_of_days_fasted %>
  </div>

  <div class="field">
    <%= form.label :week_summary %>
    <%= form.text_area :week_summary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
