<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>Non Members</h1>


<!-- Modal -->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Visitor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form_visitor', member: @non_member %>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNewSoulModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Soul</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', member: @non_member %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>




 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDepartmentModal">
  Add New Visitor
</button>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNewSoulModal">
  Add New Soul
</button>
<br><br>



<table class="table table-stripped" id="list-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Member Type</th>
      <th scope="col">Phone</th>

      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <th scope="row"><%= member.name %></td>
        <td><%= member.membership_type %></td>
        <td><%= member.phone_number %></td>
        <td>
        <div class="modal fade" id="show_<%= member.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= member.membership_type %> DETAILS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'show', member: member %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#show_<%= member.id%>">
          Show
        </button>
        </td>

        <td>
        <div class="modal fade" id="edit_<%= member.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <%= member.membership_type%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'form', member: member %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit_<%= member.id%>">
          Edit <%= member.membership_type%>
        </button>

        </td>

        <td>
        <% if current_user.email == "micnkru@gmail.com" %>
          <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        <% else %>
          403 Unauthorized
       <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<% content_for :page_scripts do %>
  <script>

    function readyy(){
       $("#list-table").DataTable({
        dom: 'Bfrtip',
        pageLength: 10
       })
    }

    $(document).ready(readyy)
    $(document).on('page:load', readyy)
   
  </script>

<% end %>