<%= form_with(model: quote_of_the_day) do |form| %>
  <% if quote_of_the_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote_of_the_day.errors.count, "error") %> prohibited this quote_of_the_day from being saved:</h2>

      <ul>
        <% quote_of_the_day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field invisible">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :date_to_air %>
    <%= form.date_select :date_to_air, start_year: Date.today.year,  end_year: Date.today.year + 1, class: "form-control"  %>
 
  </div>

  <div class="field">
    <%= form.label :quote%>
    <%= form.text_area :quote, class: "form-control"  %>
  </div>



  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control", value: "Bishop Mavis Opoku-Agyemang"  %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary"  %>
  </div>
<% end %>
