<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quote_of_the_day.title %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @quote_of_the_day.quote %>
</p>

<p>
  <strong>Date to air:</strong>
  <%= @quote_of_the_day.date_to_air %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote_of_the_day.author %>
</p>

<%= link_to 'Edit', edit_quote_of_the_day_path(@quote_of_the_day) %> |
<%= link_to 'Back', quote_of_the_days_path %>
