<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>Members</h1>

<%= link_to 'Add New Member', new_member_path, class: "btn btn-outline-primary" %> <br /><br />

<table class="table table-stripped" id="list-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Whatsapp</th>
      <th scope="col">DOB</th>

      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <th scope="row"><%= member.name %></td>
      
        <td><%= member.phone_number %></td>
        <td><%= member.phone_number_two %></td>
        <td><%= member.birthday %></td>

        <td><%= link_to 'Show', member, class: "btn btn-outline-success"%></td>
        <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<% content_for :page_scripts do %>
  <script>

    function readyy(){
       $("#list-table").DataTable({
        dom: 'Bfrtip',
        pageLength: 10
       })
    }

    $(document).ready(readyy)
    $(document).on('page:load', readyy)
   
  </script>

<% end %>