<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <p id="notice"><%= notice %></p>
      <%= link_to 'Edit', edit_member_path(@member), class: "btn btn-info" %> | <%= link_to 'Back', members_path, class: "btn btn-success" %> <br /><br />

      <p>
        <strong>Name:</strong>
        <%= @member.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @member.email %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= @member.birthday %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @member.phone_number %>
      </p>

      <p>
        <strong>Primary education:</strong>
        <%= @member.primary_education %>
      </p>

      <p>
        <strong>Secondary education:</strong>
        <%= @member.secondary_education %>
      </p>

      <p>
        <strong>Above secondary:</strong>
        <%= @member.above_secondary %>
      </p>

      <%# 


        :phone_number_two,
        :phone_number_three,
        :occupation,

        :telegram_number,
        :phone_number_four,
        :year_joined
      %>

      <p>
        <strong>Whatsapp Number:</strong>
        <%= @member.whatsapp_number %>
      </p>

      <p>
        <strong>Twitter Name:</strong>
        <%= @member.twitter_name %>
      </p>

      <p>
        <strong>Facebook Name:</strong>
        <%= @member.facebook_name %>
      </p>


      <p>
        <strong>Phone Number Two:</strong>
        <%= @member.phone_number_two %>
      </p>

      <p>
        <strong>Phone Number Three:</strong>
        <%= @member.phone_number_three %>
      </p>

      <p>
        <strong>Occupation:</strong>
        <%= @member.occupation %>
      </p>



      <p>
        <strong>Telegram Number:</strong>
        <%= @member.telegram_number %>
      </p>

      <p>
        <strong>Phone Number Four:</strong>
        <%= @member.phone_number_four %>
      </p>

      <p>
        <strong>Year Joined:</strong>
        <%= @member.year_joined %>
      </p>

    </div>

    <div class="col-sm">
    </div>
  </div>
</div>

